<html>
<body>
    <h2>Details Page for <%= cats.name %></h2>
    	<img src=<%= cats.img %>>
        <h4>Favorite Food: <%= cats.favorite_food %></h4>
        <h4>Age: <%= cats.age %></h4>
        <h4>Sleeping Spots: <%= cats.sleeping_spots %></h4>
</body>
</html>