<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Message Board</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <% if(messages.messageform) { %>
       <% for (var x of messages.messageform) { %>
        <h3><%= x %></h3>
       <% } %>
   <% } %>

   <% if(messages.commentform) { %>
       <% for (var x of messages.commentform) { %>
        <h3><%= x %></h3>
       <% } %>
   <% } %>

    <h1>The Dojo Message Board</h1>
    <p></p>
    <form action="/post_message" method="POST">
      <div class="form-group">
        <label>Name</label><br>
        <input type='text' name='name'><br>
        <label>Message</label>
        <textarea class="form-control" name="message" rows="3"></textarea>
      </div>
      <button>Post message</button>
    </form>

    <% for(var msg of ms) { %>
        <p>Name: <%= msg.name %> | Message: <%= msg.message %> | Msg ID: <%= msg._id %> </p>        
        <form action="/post_comment/<%= msg._id %>" method="POST">
        <div class="form-group">
          <label>Name</label><br>
          <input type='text' name='name'><br>
          <label>Post a comment</label>
          <textarea class="form-control" name="comment" rows="3"></textarea>
        </div>
        <button>Post a comment</button>
      </form>
        <% for(var c of msg.comments) { %>
          <h4>Name: <span class="cmt"><%= c.name %></span></h4>
          <h4>Comment: <span class="cmt"><%= c.comment %></span></h4>
          <br>
      <% } %>
    <% } %>

  </body>
</html>